{{block "metatitle" .}}Confirmation - Canvas Integrator{{end}}
{{block "title" .}}<h1>Confirmation</h1>{{end}}

{{block "content" .}}

<div class="alert alert-info">
  You're about to add {{.Form.DuckID}} ({{.Form.GE.DisplayName}})
  to CRN {{stripterm .Form.CRN}}, listed in Canvas as course:
  {{.Form.Course.Description}}.

  If this is correct, please choose "Confirm" below.
</div>

<form id="association-form" method="POST" action="{{FullPath ""}}">
  <input type="hidden" name="duckid" id="duckid" value="{{.Form.DuckID}}"/>
  <input type="hidden" name="crn" id="crn" value="{{.Form.CRN}}" />
  <button class="btn btn-success" type="submit" name="confirm" value="1" class="prevent-double-click">Confirm</button>
  <button class="btn btn-secondary" type="submit" name="confirm" value="0" class="prevent-double-click">Go Back</button>
</form>
{{end}}
