{{block "metatitle" .}}Confirmation - Canvas Integrator{{end}}
{{block "title" .}}<h1>Confirmation</h1>{{end}}

{{block "content" .}}

<div class="alert alert-info">
  <p>
    You're about to associate
    <strong>{{.Form.Agent.DisplayName}}</strong> (<i>{{.Form.Agent.DuckID}} / {{.Form.Agent.BannerID}}</i>)
    as a <strong>{{.Form.Role}}</strong>
    on Canvas course "<strong>{{.Form.Course.Description}}</strong>" (<i>CRN {{stripterm .Form.CRN}}</i>).
  </p>

  <p>
    If this is correct, please choose "Confirm" below.
  </p>
</div>

<form id="association-form" method="POST" action="{{FullPath ""}}">
  <input type="hidden" name="duckid" id="duckid" value="{{.Form.DuckID}}"/>
  <input type="hidden" name="crn" id="crn" value="{{.Form.CRN}}" />
  <input type="hidden" name="role" id="role" value="{{.Form.Role}}" />
  {{if .Form.IsGrader }}
    <p>
    <label for="graderReqMet">I agree this student can be a grader:</label>
    <input type="checkbox" name="graderReqMet" id="graderReqMet" value="1">
    </p>
  {{end}}
  <button class="btn btn-success" type="submit" name="confirm" value="1" class="prevent-double-click">Confirm</button>
  <button class="btn btn-secondary" type="submit" name="confirm" value="0" class="prevent-double-click">Go Back</button>
</form>
{{end}}
