{{block "metatitle" .}}Add enrollment - Canvas Integrator{{end}}
{{block "title" .}}<!-- 0x90 -->{{end}}

{{block "content" .}}

<div class="container">
  <p class="alert alert-info">
    Good news! The ability to add other users to your course is now available
    within Canvas. This self-serve process is live as of 9:00am, April 5, 2019.
    New roles are available within Canvas. For information on how to Add People
    and the changes to Canvas Roles, please go to
    <a href="https://library.uoregon.edu/cmet/canvas/add-people">Add People</a>.
    If you experience difficulty with Canvas adds, please
    <a href="https://oregon.qualtrics.com/jfe/form/SV_da3r7IB9dWWuVG5?Q_JFE=qdg">submit a help request</a>.
  </p>
</div>

<div class="card">
  <div class="card-body">
    <h1 class="card-title">Add a TA / Grader to a course</h1>
    <div id="form-info" class="card-text">
      Enter a duckid, choose a course, and choose a role (TA or Grader).  This
      process will send enrollments to Canvas three times daily. If you aren't
      sure if you've entered somebody, there's no risk in entering them again.
    </div>
  </div><!-- /card-body -->

  <div class="card-body">
    <form id="association-form" method="POST">
      <div class="form-group row">
        <label for="duckid" class="col-sm-2 col-form-label">Duck ID:</label>
        <div class="col-sm-10">
          <input class="form-control" name="duckid" id="duckid" value="{{.Form.DuckID}}" placeholder="Example: {{.User.Login}}, not {{.User.Login}}@uoregon.edu" />
        </div>
      </div>

      <div class="form-group row">
        <label for="crn" class="col-sm-2 col-form-label">Course</label>
        <div class="col-sm-10">
          <select class="form-control" name="crn" id="crn">
            <option value="">Select a course</option>
          {{range .User.Courses}}
            <option value="{{.CRN}}" {{if eq .CRN $.Form.CRN}}selected {{end}}>{{.Description}}</option>
          {{end}}
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="crn" class="col-sm-2 col-form-label">Role</label>
        <div class="col-sm-10">
          <select class="form-control" name="role" id="role">
            <option value="">Select a role</option>
          {{range .Roles}}
            <option value="{{.}}" {{if eq . $.Form.Role}}selected {{end}}>{{.}}</option>
          {{end}}
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div><!-- /card-body -->
</div><!-- /card -->

{{end}}
