{{block "metatitle" .}}Add Student - Canvas Student Integrator{{end}}
{{block "title" .}}<h1>Add Student</h1>{{end}}

{{block "content" .}}

<form id="association-form" method="POST">
  <div class="form-group row">
    <label for="duckid" class="col-sm-2 col-form-label">Duck ID:</label>
    <div class="col-sm-10">
      <input class="form-control" name="duckid" id="duckid" value="{{.Form.DuckID}}"/>
    </div>
  </div>

  <div class="form-group row">
    <label for="crn" class="col-sm-2 col-form-label">Course</label>
    <div class="col-sm-10">
      <select class="form-control" name="crn" id="crn">
        <option value="">Select a course</option>
      {{range .User.Courses}}
        <option value="{{.CRN}}" {{if eq .CRN $.Form.CRN}}selected {{end}}>{{.Description}}</option>
      {{end}}
      </select>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10 offset-sm-2">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>

</form>

{{end}}
